In [1]:
import pandas as pd
import numpy as np
import math

# Import Data

In [2]:
df=pd.read_csv(r"C:\Users\HP\OneDrive\Desktop\Resume Project\IPL\IPL_Ball_by_Ball_2008_2022.csv")

In [3]:
df

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

# Preparing Batsmens Data

In [4]:
batters=df.groupby('batter')

In [5]:
batter=batters.sum()['batsman_run'].sort_values(ascending=False)
batter=batter.reset_index()
batter=batter
batter

           batter  batsman_run
0         V Kohli         6634
1        S Dhawan         6244
2       DA Warner         5883
3       RG Sharma         5881
4        SK Raina         5536
..            ...          ...
600   SS Cottrell            0
601  Abdur Razzak            0
602    Akash Deep            0
603        U Kaul            0
604    Yash Dayal            0

[605 rows x 2 columns]

In [6]:
sixes1=df[(df['batsman_run']==6)] 
sixes=sixes1.groupby('batter')['batsman_run'].count().sort_values(ascending=False).reset_index()
sixes=sixes.rename(columns={'batsman_run':'Total_number_of_sixes'})
sixes

             batter  Total_number_of_sixes
0          CH Gayle                    359
1    AB de Villiers                    253
2         RG Sharma                    241
3          MS Dhoni                    229
4        KA Pollard                    224
..              ...                    ...
395        AF Milne                      1
396         AP Dole                      1
397        TS Mills                      1
398    TU Deshpande                      1
399          VH Zol                      1

[400 rows x 2 columns]

In [7]:
Four1=df[(df['batsman_run']==4)] 
Four=Four1.groupby('batter')['batsman_run'].count().sort_values(ascending=False).reset_index()
Four=Four.rename(columns={'batsman_run':'Total_number_of_Four'})
Four

        batter  Total_number_of_Four
0     S Dhawan                   701
1      V Kohli                   581
2    DA Warner                   577
3    RG Sharma                   519
4     SK Raina                   506
..         ...                   ...
479  AC Thomas                     1
480   Umar Gul                     1
481   UA Birla                     1
482  VRV Singh                     1
483   VS Malik                     1

[484 rows x 2 columns]

In [8]:
top20=batter.merge(sixes,on='batter').merge(Four,on='batter')

In [9]:

batsmens=df['batter'].unique()

In [10]:
lst = []
def player(name):
    temp_df=df[df['batter']==name]
    highest_score=temp_df.groupby('ID')['batsman_run'].sum().sort_values(ascending=False).head(1).values[0]
    return highest_score
for name in batsmens:
    lst.append([name,player(name)])

In [11]:
highest_score=pd.DataFrame(lst,columns=['batter','Highest_score'])
highest_score=highest_score.sort_values('Highest_score',ascending=False)
highest_score=highest_score.reset_index()
highest_score=highest_score.drop(columns='index')
highest_score

             batter  Highest_score
0          CH Gayle            175
1       BB McCullum            158
2         Q de Kock            140
3    AB de Villiers            133
4          KL Rahul            132
..              ...            ...
600      Yash Dayal              0
601         S Ladda              0
602      YA Abdulla              0
603          U Kaul              0
604    S Lamichhane              0

[605 rows x 2 columns]

In [12]:
# droping rows where deliveries was wide 
df['extra_type'].unique()

array([nan, 'legbyes', 'wides', 'byes', 'noballs', 'penalty'],
      dtype=object)

In [13]:
batsmens=df['batter'].unique()
extra=df[(df['extra_type']=='wides')]
df1=df.drop(extra.index).reset_index()
df1=df1.drop(columns='index')

In [14]:
df1

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218924,335982,2,14,4,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
218925,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
218926,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
218927,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
218928,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [15]:
df['kind'].unique()

array([nan, 'caught', 'caught and bowled', 'run out', 'bowled', 'stumped',
       'lbw', 'hit wicket', 'retired hurt', 'retired out',
       'obstructing the field'], dtype=object)

In [16]:
#Each Match Performance

In [17]:
lst = []

for name in batsmens:
    player = df1[df1['batter'] == name]
    runs_by_match = player.groupby('ID')
    bat_by_match=runs_by_match.agg({'batsman_run':'sum','ballnumber':'count'}).reset_index()
    
    # Append the player's name and the runs for each match to the list
    for index, row in bat_by_match.iterrows():
        lst.append([name, row['ID'],row['batsman_run'],row['ballnumber']])

In [18]:
Batsmens=pd.DataFrame(lst,columns=['batter','ID','Runs_score','Number_of_balls'])
Batsmens['MatchNumber'] = Batsmens.groupby('batter').cumcount() + 1

In [19]:

Batsmens

            batter       ID  Runs_score  Number_of_balls  MatchNumber
0      YBK Jaiswal  1216496           6                6            1
1      YBK Jaiswal  1216500          34               36            2
2      YBK Jaiswal  1216511           0                2            3
3      YBK Jaiswal  1254075          22               17            4
4      YBK Jaiswal  1254081          32               20            5
...            ...      ...         ...              ...          ...
14221     SB Joshi   335982           3                6            1
14222     SB Joshi   335992           3                8            2
14223   DS Lehmann   335984           1                2            1
14224   DS Lehmann   335987          17               16            2
14225    AA Noffke   335982           9               10            1

[14226 rows x 5 columns]

In [25]:
type(Batsmens)

pandas.core.frame.DataFrame

In [21]:
Batsmens['50s']=np.where(Batsmens['Runs_score']>=50,1,0)
Batsmens['100s']=np.where(Batsmens['Runs_score']>=100,1,0)

In [23]:
Batsmens['30s']=np.where((Batsmens['Runs_score']>30) & (Batsmens['Runs_score']<50) ,1,0)
Milestones=Batsmens.groupby('batter')
Milestones=Milestones.agg({'50s':'sum','100s':'sum','30s':'sum','MatchNumber':'last'})

In [24]:
lst = []

for name in batsmens:
    player = df1[df1['player_out'] == name]
    out_by_match = player.groupby('batter')['isWicketDelivery'].count().sum()
    lst.append([name,out_by_match])

In [26]:
number_of_outs=pd.DataFrame(lst,columns=['batter','Number_of_outs'])
number_of_outs

              batter  Number_of_outs
0        YBK Jaiswal              23
1         JC Buttler              71
2          SV Samson             121
3         D Padikkal              45
4         SO Hetmyer              27
..               ...             ...
600  D Kalyankrishna               1
601         MA Khote               2
602         SB Joshi               2
603       DS Lehmann               2
604        AA Noffke               1

[605 rows x 2 columns]

In [27]:
stats=Batsmens.groupby('batter')['Number_of_balls'].sum().reset_index().sort_values('Number_of_balls',ascending=False)
stats

             batter  Number_of_balls
569         V Kohli             5133
462        S Dhawan             4944
430       RG Sharma             4529
130       DA Warner             4185
493        SK Raina             4046
..              ...              ...
154   DP Vijaykumar                1
537     Sunny Gupta                1
562          U Kaul                1
570  V Pratap Singh                1
600      Yash Dayal                1

[605 rows x 2 columns]

In [28]:
allbat=batter.merge(sixes,on='batter').merge(Four,on='batter').merge(highest_score,on='batter').merge(stats,on='batter').merge(number_of_outs,on='batter').merge(Milestones,on='batter')
allbats=allbat.rename(columns={'Number_of_outs':"Number_of_times_dismissed"})
allbats

,batter,batsman_run,Total_number_of_sixes,Total_number_of_Four,Highest_score,Number_of_balls,Number_of_times_dismissed,50s,100s,30s,MatchNumber
0,V Kohli,6634,219,581,113,5133,183,50,5,43,215
1,S Dhawan,6244,137,701,106,4944,178,49,2,37,205
2,DA Warner,5883,216,577,126,4185,142,59,4,26,162
3,RG Sharma,5881,241,519,109,4529,193,41,1,38,221
4,SK Raina,5536,204,506,100,4046,170,40,1,34,200
...,...,...,...,...,...,...,...,...,...,...,...
376,BJ Haddin,18,1,2,18,11,1,0,0,0,1
377,T Banton,18,1,1,10,20,2,0,0,0,2
378,KMA Paul,18,1,1,7,24,5,0,0,0,5
379,SD Lad,15,1,1,15,13,1,0,0,0,1
380,I Udana,15,1,1,10,11,3,0,0,0,4

In [63]:
allbats['Average']=np.round(allbats['batsman_run']/allbats['Number_of_times_dismissed'],2)
allbats['Strike_rate']=np.round(allbats['batsman_run']/allbats['Number_of_balls']*100,2)
allbats.to_excel(r'C:\Users\HP\OneDrive\Desktop\Resume Project\IPL\BatsmenData.xlsx')
allbats

,batter,batsman_run,Total_number_of_sixes,Total_number_of_Four,Highest_score,Number_of_balls,Number_of_times_dismissed,50s,100s,30s,MatchNumber,Average,Strike_rate
0,V Kohli,6634,219,581,113,5133,183,50,5,43,215,36.25,129.24
1,S Dhawan,6244,137,701,106,4944,178,49,2,37,205,35.08,126.29
2,DA Warner,5883,216,577,126,4185,142,59,4,26,162,41.43,140.57
3,RG Sharma,5881,241,519,109,4529,193,41,1,38,221,30.47,129.85
4,SK Raina,5536,204,506,100,4046,170,40,1,34,200,32.56,136.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,BJ Haddin,18,1,2,18,11,1,0,0,0,1,18.00,163.64
377,T Banton,18,1,1,10,20,2,0,0,0,2,9.00,90.00
378,KMA Paul,18,1,1,7,24,5,0,0,0,5,3.60,75.00
379,SD Lad,15,1,1,15,13,1,0,0,0,1,15.00,115.38
380,I Udana,15,1,1,10,11,3,0,0,0,4,5.00,136.36

# Preparing Bowlers Data

In [30]:
bowler=df.groupby('bowler')['isWicketDelivery']
bowler=bowler.sum().sort_values(ascending=False)
bowler=bowler.reset_index()
bowler

              bowler  isWicketDelivery
0           DJ Bravo               207
1         SL Malinga               188
2           A Mishra               175
3           R Ashwin               174
4          YS Chahal               172
..               ...               ...
467  Aman Hakim Khan                 0
468      Akash Singh                 0
469     Tejas Baroka                 0
470      Tilak Varma                 0
471      A Dananjaya                 0

[472 rows x 2 columns]

In [31]:
bowler_data=df[(df['kind']=='retired hurt')|(df['kind']=='run out')|(df['kind']=='retired out')|(df['kind']=='obstructing the field')]
bowler_data=df.drop(bowler_data.index)
bowler_data

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [32]:
top_20_bowlers=bowler_data.groupby('bowler')['isWicketDelivery'].sum().reset_index().sort_values('isWicketDelivery',ascending=False)

In [33]:
df['extra_type']

0             NaN
1         legbyes
2             NaN
3             NaN
4             NaN
           ...
225949    legbyes
225950        NaN
225951        NaN
225952      wides
225953        NaN
Name: extra_type, Length: 225954, dtype: object

In [34]:
bowler_data=df[(df['extra_type']=='penalty')|(df['extra_type']=='byes')|(df['extra_type']=='legbyes')]
df2=df.drop(bowler_data.index)
df2

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
5,1312200,1,0,6,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225948,335982,2,14,4,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [39]:
bowler=df['bowler'].unique()

In [40]:
lst = []

for name in bowler:
    player = df2[df2['bowler'] == name]
    data_by_match = player.groupby('ID')
    data_by_match=data_by_match.agg({'total_run':'sum'}).reset_index()
    # Append the player's name and the runs for each match to the list
    for index, row in data_by_match.iterrows():
        lst.append([name, row['ID'],row['total_run']])

In [41]:
Bowler=pd.DataFrame(lst,columns=['bowler','Match_id','Runs'])
Bowler.sort_values('bowler',ascending=True)

              bowler  Match_id  Runs
8750  A Ashish Reddy    548359    39
8744  A Ashish Reddy    548329    29
8745  A Ashish Reddy    548341    32
8746  A Ashish Reddy    548346    11
8747  A Ashish Reddy    548348    32
...              ...       ...   ...
7336          Z Khan    548310    36
7335          Z Khan    501271    30
7334          Z Khan    501270    32
7362          Z Khan    829783    32
7298          Z Khan    336023    46

[11223 rows x 3 columns]

In [42]:
dot_ball=df2[df2['total_run']==0]
dot_balls=dot_ball.groupby('bowler')['total_run'].count().reset_index()
dot_balls=dot_balls.rename(columns={'total_run':'DotBalls'})
dot_balls

             bowler  DotBalls
0    A Ashish Reddy        79
1          A Badoni         3
2        A Chandila       103
3       A Choudhary        42
4       A Dananjaya         6
..              ...       ...
454       YK Pathan       393
455       YS Chahal      1001
456      Yash Dayal        76
457    Yuvraj Singh       258
458          Z Khan       873

[459 rows x 2 columns]

In [43]:
len(bowler)

472

In [44]:
bowler_data=df[(df['extra_type']=='noballs')|(df['kind']=='run out')]
df2=df.drop(bowler_data.index)
df2

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [45]:
lst = []

for name in bowler:
    player = df2[df2['bowler'] == name]
    data_by_match = player.groupby('ID')
    data_by_match=data_by_match.agg({'ballnumber':'count','isWicketDelivery':'sum'}).reset_index()
    # Append the player's name and the runs for each match to the list
    for index, row in data_by_match.iterrows():
        lst.append([name, row['ID'],row['ballnumber'],row['isWicketDelivery']])

In [46]:
Bowler1=pd.DataFrame(lst,columns=['bowler','Match_id','Numberofballs','no_of_wicket'])
Bowler1.sort_values('bowler',ascending=True)

              bowler  Match_id  Numberofballs  no_of_wicket
8749  A Ashish Reddy    548359             25             2
8743  A Ashish Reddy    548329             12             0
8744  A Ashish Reddy    548341             24             2
8745  A Ashish Reddy    548346             14             1
8746  A Ashish Reddy    548348             18             1
...              ...       ...            ...           ...
7306          Z Khan    419107             24             0
7305          Z Khan    392208             14             1
7375          Z Khan    981003             24             0
7338          Z Khan    548324             24             1
7297          Z Khan    336023             25             0

[11222 rows x 4 columns]

In [47]:
Bowler1['Numberofballs'].max()

np.int64(33)

In [48]:
Bowler1['Numberofballs']=Bowler1['Numberofballs'].where(Bowler1['Numberofballs']<=24,24)
Bowler1['3+ Wickets']=np.where((Bowler1['no_of_wicket']>=3) &(Bowler1['no_of_wicket']<5),1,0)
Bowler1['5+ Wickets']=np.where(Bowler1['no_of_wicket']>=5,1,0)
Bowler1['MatchNumber']=Bowler1.groupby('bowler').cumcount()+1

In [49]:
Bowler_data=Bowler.merge(Bowler1,how='inner',on=['bowler','Match_id'])
Bowler_data['Overs']=np.round(Bowler1['Numberofballs']/6,2)
Bowler_data['Overs']=Bowler_data['Overs'].apply(lambda x: math.floor(x * 10) / 10)

In [50]:
Bowler_data['Econ']=np.round(Bowler_data['Runs']/Bowler_data['Overs'],2)
Bowler_data

,bowler,Match_id,Runs,Numberofballs,no_of_wicket,3+ Wickets,5+ Wickets,MatchNumber,Overs,Econ
0,Mohammed Shami,598005,26,18,0,0,0,1,3.0,8.67
1,Mohammed Shami,598034,20,13,0,0,0,2,2.1,9.52
2,Mohammed Shami,598069,32,24,1,0,0,3,4.0,8.00
3,Mohammed Shami,729281,30,24,1,0,0,4,4.0,7.50
4,Mohammed Shami,729289,33,24,1,0,0,5,4.0,8.25
...,...,...,...,...,...,...,...,...,...,...
11217,SB Joshi,335992,27,19,1,0,0,3,3.1,8.71
11218,SB Joshi,335998,19,6,0,0,0,4,1.0,19.00
11219,MA Khote,335989,29,18,2,0,0,1,3.0,9.67
11220,MA Khote,335991,22,12,0,0,0,2,2.0,11.00
11221,AA Noffke,335982,40,24,1,0,0,1,4.0,10.00

In [51]:
Bowler_data['Performance'] = Bowler_data['no_of_wicket'].astype(str) + '/' + Bowler_data['Runs'].astype(str)

In [52]:
Bowler2=Bowler_data.groupby('bowler')
Bowler_data1=Bowler2.agg({
    'Runs': 'sum',
    'Numberofballs': 'sum',
    'no_of_wicket': 'sum',
    '3+ Wickets': 'sum',
    '5+ Wickets': 'sum',
    'Overs': 'sum',
    'Econ': 'mean',
    'MatchNumber':'count',
    'Performance':'max'
})

In [53]:
Bowler_data1=Bowler_data1.reset_index().sort_values('no_of_wicket',ascending=False)
Bowler_data1=Bowler_data1.drop(columns='Overs')

In [54]:
Bowler_data1=Bowler_data1.reset_index()
Bowler_data1=Bowler_data1.drop(columns='index')

In [55]:
dot_balls

             bowler  DotBalls
0    A Ashish Reddy        79
1          A Badoni         3
2        A Chandila       103
3       A Choudhary        42
4       A Dananjaya         6
..              ...       ...
454       YK Pathan       393
455       YS Chahal      1001
456      Yash Dayal        76
457    Yuvraj Singh       258
458          Z Khan       873

[459 rows x 2 columns]

In [56]:
Bowler_data1=pd.merge(Bowler_data1,dot_balls,on='bowler',how='left')
Bowler_data1

,bowler,Runs,Numberofballs,no_of_wicket,3+ Wickets,5+ Wickets,Econ,MatchNumber,Performance,DotBalls
0,DJ Bravo,4360,3171,183,16,0,8.247152,158,4/42,998.0
1,SL Malinga,3364,2835,170,18,1,7.100410,122,5/13,1144.0
2,YS Chahal,3624,2864,166,14,1,7.702846,130,5/40,1001.0
3,A Mishra,3976,3249,166,16,1,7.529091,154,5/17,1150.0
4,R Ashwin,4534,3914,157,8,0,7.189613,181,4/34,1377.0
...,...,...,...,...,...,...,...,...,...,...
467,Sunny Gupta,47,19,0,0,0,15.160000,1,0/47,NaN
468,AC Voges,76,55,0,0,0,9.104286,7,0/9,15.0
469,Tejas Baroka,33,21,0,0,0,9.430000,1,0/33,6.0
470,Tilak Varma,13,12,0,0,0,6.500000,2,0/7,5.0
471,A Dananjaya,47,24,0,0,0,11.750000,1,0/47,6.0

In [57]:
Bowler_data1['Econ']=np.round(Bowler_data1['Econ'],2)
Bowler_data1['Strike_rate']=np.round(Bowler_data1['Numberofballs']/Bowler_data1['no_of_wicket'],2)
Bowler_data1['Average']=np.round(Bowler_data1['Runs']/Bowler_data1['no_of_wicket'],2)
Bowler_data1['DotBalls']=Bowler_data1['DotBalls']

In [58]:
Bowler_data1

,bowler,Runs,Numberofballs,no_of_wicket,3+ Wickets,5+ Wickets,Econ,MatchNumber,Performance,DotBalls,Strike_rate,Average
0,DJ Bravo,4360,3171,183,16,0,8.25,158,4/42,998.0,17.33,23.83
1,SL Malinga,3364,2835,170,18,1,7.10,122,5/13,1144.0,16.68,19.79
2,YS Chahal,3624,2864,166,14,1,7.70,130,5/40,1001.0,17.25,21.83
3,A Mishra,3976,3249,166,16,1,7.53,154,5/17,1150.0,19.57,23.95
4,R Ashwin,4534,3914,157,8,0,7.19,181,4/34,1377.0,24.93,28.88
...,...,...,...,...,...,...,...,...,...,...,...,...
467,Sunny Gupta,47,19,0,0,0,15.16,1,0/47,NaN,inf,inf
468,AC Voges,76,55,0,0,0,9.10,7,0/9,15.0,inf,inf
469,Tejas Baroka,33,21,0,0,0,9.43,1,0/33,6.0,inf,inf
470,Tilak Varma,13,12,0,0,0,6.50,2,0/7,5.0,inf,inf
471,A Dananjaya,47,24,0,0,0,11.75,1,0/47,6.0,inf,inf

In [61]:
Bowler_data1.to_excel(r"C:\Users\HP\OneDrive\Desktop\Resume Project\IPL\BowlerData.xlsx")